@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(207, 248, 238);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* header */

.titulo h1{
    padding: 5px 0;
    text-align: center;
    font-size: 2.5em;
}

.container{
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container nav{
    display: flex;
    justify-content: flex-end;
    
}

.container ul{
list-style-type:none;
text-align:right;
display: flex; 
font-size:20px;
margin: 10px 10px 30px 30px;

}


.container li a {
    text-decoration: none;
    padding: 6px; 
    color: rgb(64, 27, 150);
}

.container > .header{
    background-image: url(../assets/Logo.jpg);
    padding: 10px ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container > .content,
.container > .barralat,
.container > .footer{
    background: rgb(151, 229, 151);
    padding: 10px ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.container .header,
.container .footer{
    grid-column: 1/6; 
    color: rgb(0, 0, 0);
}

.container > .content{
    grid-column: span 4;
    justify-content: center;
    
}

.content > .article{
    background-color: rgb(240, 252, 173);
    padding: 20px;
    margin-top: 20px;
    color: brown;
    border-radius: 25px;
}

.content .article h1,
.content .article p{
    padding: 10px ;
}

.container .barralat img{
    margin-top: 10px;
    border-radius: 10px;
}
.container > .barralat{
    grid-column: span 1;
    background-color: rgb(94, 86, 86);
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .relacionadas{
    background-color: black;
    color: aliceblue;
    height: 50px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2 ease;
    text-decoration: none;
    border-radius: 20px;
}



.container .relacionadas:hover{
    cursor: pointer;
    color: black;
    background: aliceblue;
}



@media screen and (max-width: 768px){
    
    .header{
        text-align: center;
    }

    .container .content{
        grid-column: 1/-1;
    }

    .container .barralat{
        grid-column: 1/-1;
        justify-content: space-between;
        width: 100%;
    }

    .barralat img{
        max-width: 100%;
        width: 768px;
    }

    .barralat p{
        text-align: center;
    }



    .container .relacionadas{
        grid-column: 1/-1;
        transition: all 2 ease;
    }

}